.footer {
flex-direction: column;
background-color: var(--darkcyan);
color: var(--palecyan);
text-align: start;
padding-block-start: 6em;
padding-inline: 2em;

& .address {
  margin-block-end: 2em;
}

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

