@use '../scss/variables';

html {
  box-sizing: border-box;
  font-size: 100%; // 16px
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--palecyan);
  color: var(--darkcyan);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: clamp(1rem, 0.075rem + 1.5vw, 1.33rem);
  line-height: 1.65;
}

p {
  max-inline-size:50ch;
  margin-block-end: 1em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-block-end: 1.035em;
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 1.3;
  max-inline-size: 20ch;
}

h1 {
  margin-block-start: 0;
  font-size: 1.802rem;
}

h2 {
  
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
 font-size: 1.25rem; 
}

small, .small-text {
font-size: 0.85rem;
}

//  flexbox

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  &-jc__sb {
    justify-content: space-between;
  }

  &-jc__ct {
    justify-content: center;
  }

  &-ai__ct {
    align-items: center;
  }
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.container {
  max-inline-size: 90%;
  margin-inline: auto;
}