@use "variables" as *;
@use "mixin" as *;

html {
  box-sizing: border-box;
  font-size: 112.5%; // 18px
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--palecyan);
  color: var(--darkcyan);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.33rem);
  line-height: 1.65;
}

p {
  max-inline-size: 50ch;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-block-end: 1.035em;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-block-start: 0;
  max-inline-size: 20ch;
  font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2.802rem);
}

h2 {
  font-size: clamp(1.25rem, 0.75rem + 1.5vw, 1.602rem);
}

h3 {
  font-size: clamp(1.125rem, 0.75rem + 1.5vw, 1.424rem);
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.small-text {
  font-size: 0.85rem;
}

//  flexbox

.flex {
  display: flex;

  &-jc__sb {
    justify-content: space-between;
  }

  &-jc__ct {
    justify-content: center;
  }

  &-ai__ct {
    align-items: center;
  }
}

img,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.container {
  inline-size: 100%;
  max-inline-size: 90%;
  margin-inline: auto;
}


