@use "../scss/variables";

.header {
  margin-inline: 2em;
  margin-block: 2em;
  background-image: url("../images/bg-hero-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  gap: 1em;

  &__logo {
max-inline-size: 25vw;
min-inline-size: 6.25rem;


    &--img {
      display: inline-block;
      max-inline-size: 100%;
      block-size: auto;
      object-fit: cover;
    }
  }

  &__cta {
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    padding: 0.125em 0.5em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 100vw;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  & .hero {
    padding-block: 2em;
   flex-direction: column;

   
    &__text {
text-align: center;
margin-inline: auto;
margin-block: 2em;
font-weight: 700;
    }

    &__img {
      padding-block-start: 2em;
    }
  }
  & p {
    margin-block-end: 2em;
  }
  & .cta {
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 100vw;
  }
}
