@forward "variables";

.header {
  margin-inline: 2em;
  margin-block: 2em;

  &__logo {
max-inline-size: 25vw;


    &--img {
      display: inline-block;
      max-inline-size: 100%;
      block-size: auto;
      object-fit: cover;
    }
  }

  &__cta {
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    padding: 0.25em 0.75em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 100vw;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
