.main {
  background-color: var(--white);
  padding: 2em;
}

.feature {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column-reverse;
  gap: 2em;
  margin-block-end: 2em;
  border-radius: 0.5em;

  &>* {
    padding: 2em;
  }

  &__text {
    text-align: center;
  }
}

.cta-section {
  inline-size: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  inset-block-start: 6em;
  background-color: var(--white);
  color: inherit;
  margin: auto;
  padding: 2em;

  & h2 {
    margin-block-end: 1em;
    text-align: center;
    font-weight: 700;
  }

  & .cta {
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 100vw;
    font-weight: 600;
  }
}