
.main {
 background-color: var(--white); 
 padding: 2em;
}
.feature {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column-reverse;
  gap: 2em;
  margin-block-end: 2em;
  border-radius: 0.5em;
}