
.main {
 background-color: var(--white); 
 padding: 2em;
}
.feature {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column-reverse;
  gap: 2em;
  margin-block-end: 2em;
  border-radius: 0.5em;

& >* {
  padding: 2em;
}

&:last-child {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid red;
  height: fit-content;
  inset-block-start: 10em;
}
  &__text {
    text-align: center;
    
  }

  &__img {
    text-align: center;
  padding-block-end: 0;
  }

}
// .feature-wrapper {
//   position: relative;
  
// }
.cta-section {
  display: inline-block;
  inline-size: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;


 & h2 {
margin-block-end: 1em;
text-align: center;
 }

  & .cta {
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 100vw;
  }
}